/* -----------------------------------
** Cart
-------------------------------------*/
.cart-product-details {
  display: flex;
  align-items: center;
}

/* -----------------------------------
** End Cart
-------------------------------------*/
