/* -----------------------------------
** Banner
-------------------------------------*/
.banner-area{
    position: relative;
    background-size: cover;
    background-position: center center;
    padding-top: 128px;
    padding-bottom: 153px;
    @include breakpoint(max_md){
        padding-top: 83px;
        padding-bottom: 100px;
    }
    &:before{
        background: rgba(0, 0, 0, .50);
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height: 100%;
        content: '';
    }
    &--blog{
        background-image: url('../images/sports/blog/banner.jpg');
    }
    &--shop{
        background-image: url('../images/sports/shop/banner.jpg');
    }
    &--cart{
        background-image: url('../images/sports/cart/banner.jpg');
    }

}
.page-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 7px;
    color: $white;
    text-transform: uppercase;
    @include breakpoint(max_md){
        font-size: 40px;
        margin-bottom: 0;
    }
}
.slider-title{
    text-transform: uppercase;
    font-weight: 700 !important;
    color: $black;
}
.slider-area{
    .btn{
        text-align: center !important;
    }
}
.slide-shoe-wrap{
    position: relative;
    @include breakpoint(max_md){
        display: none;
    }
    .slide-shoe{
        max-width: 100% !important;
        height: auto !important;
        max-height: auto !important;
    }
    #plus-three{
        top: 11%;
        right: 17%;
    }
    #plus-four{
        top: 59%;
        right: 54%;
    }
    #popover-three,#popover-four{
        display: none;
    }
    .popover-plus-button{
        text-align: center !important;
    }
}
.tp-tab-title{
    color: $black;
    font-family: $play;
    font-size: 25px;
    line-height: 30px;
    display: block;
}
.tp-tab{
    opacity: 1;
    text-align: right !important;
    padding-right: 0;
    overflow: hidden;
    &.selected{
        //transform: scale(2) !important;
        position: relative;
        &:after{
            position: absolute;
            right:0px;
            height: 100%;
            top:0;
            width:3px;
            content: '';
            background-image: linear-gradient(90deg, #f800bb 20%, #fa3d05 100%);
            z-index: 2;
        }
        font-weight: 700;
        .tp-tab-title{
             // font-size: 45px;
             // font-weight: 700;
             // line-height: 40px;
             //line-height: 30px;
             //transform: translateY(-7px);
             transform: scale(2) translateY(-3px);
             display: block;
             line-height: 40px;
        }
    }
}
.zeus .tp-tab-title{
    font-family: $play;
    background: transparent;
    font-size: 25px;
    color: $black;
}
.zeus .tp-tab{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tp-tabs {
    .tp-tab-mask{
        overflow: visible !important;
    }
    .tp-tab-title{
        padding:0;
        display: block;
    }
}
.zeus .tp-tab:hover .tp-tab-title, .zeus .tp-tab.selected .tp-tab-title{
    background: transparent !important;
}

.tp-tabs-inner-wrapper{
    // padding-top: 80px;
    // padding-bottom: 80px;
    right: 50px;
    &:after{
        position: absolute;
        right:1px;
        height: 100%;
        top:0;
        width:2px;
        content: '';
        background: $border;
    }
}

.slider-area--fashion{
    .slider-title{
        font-family: $play;
        color: $white;
        font-weight: 400 !important;
        text-transform: none;
    }
    .btn{
        box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    }
}
.slider-area--furniture{
    .slider-title{
        font-family: $play;
        font-weight: 400 !important;
        text-transform: none;
        &--ash-color{
            color:#e7e7e7;
        }
        &--red-color{
            color: #d61016;
        }
    }
    .shop-button{
        color: $black;
        &:before{
            background: transparent;
            border:2px solid $border;
        }
        &:hover{
            color: $white;
        }
    }
}
.slider-area--organic{
    .slider-title{
        font-weight: 400 !important;
        font-family: $play;
        background-image: linear-gradient(90deg, #8cbf4c 20%, #ff3800 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: capitalize;
    }
    .slider-title--orange{
        background-image: linear-gradient(90deg, #8cbf4c 20%, #fe7003 100%);
    }
}












/* -----------------------------------
** End Banner
-------------------------------------*/
