/* -----------------------------------
** Blog
-------------------------------------*/
.blog-post{
    margin-bottom: 50px;
    &__image-wrap{
        position: relative;
    }
    .post-date{
        position: absolute;
        left: 40px;
        top:40px;
    }
    &__text-content{
        background: $white;
        margin-left: 29px;
        margin-right: 29px;
        margin-top: -53px;
        padding:25px 30px;
        position: relative;
        z-index: 1;
        @include breakpoint(max_sm){
            margin:0;
            padding:25px 10px;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 22px;
    }
    p{
        margin-bottom: 10px;
    }
    &__read-more{
        font-size: 13px;
        font-weight: 500;
        color: $black;
        letter-spacing: 2px;
        word-spacing: 3px;
        text-transform: uppercase;
    }

}
.post-date{
    background: $white;
    width:53px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 6px;
    border:1px solid  rgba(163, 163, 163, .17);
    box-shadow: 0 0 10px rgba(171, 171, 171, .32);
    .date{
        font-size: 27px;
        line-height: 25px;
        color: $black;
        font-weight: 700;
        display: block;
    }
    .month{
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 10px;
        text-transform: uppercase;
        display: block;
    }
}
/* -----------------------------------
** Blog Details
-------------------------------------*/

.blog-details-text{
    margin:-135px 45px 0 45px;
    background: $white;
    position: relative;
    padding:35px 50px;
    border:1px solid $border;
    @include breakpoint(max_sm){
        margin:0;
        padding:30px 15px;
    }
}
.blog-detail-title{

    margin-bottom: 15px;
}
.blog-meta{
    margin-bottom: 9px;
    &__date,&__post-by,&__comments{
        text-transform: uppercase;
        color: $black;
        font-weight: 500;
        font-size: 11px;
        letter-spacing: 2px;
        word-spacing: 4px;
    }
    &__separator{
        display: inline-block;
        font-size: 11px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
.tag-list{
    a{
        display: inline-block;
        margin-right: 5px;
        border-radius: 2px;
        border:1px solid $border;
        padding:2px 13px;
        margin-bottom: 3px;
        font-size: 13px;
        &:hover{
            color:$white;
            background: $base;
            border-color: $base;
        }
    }
}
.social-icons-share{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .share-title{
        padding-right: 12px;
        color:#484848;
    }
}
.color-social-icons{
    .social-icon{
        height: 27px;
        width:27px;
        text-align: center;
        line-height: 27px;
        color:#fff;
        display: inline-block;
        border-radius: 3px;
        margin-left: 3px;
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .facebook-icon{
        background: #435ab9;
    }
    .twitter-icon{
        background: #58cbfb;
    }
    .dribbble-icon{
        background: #f02ca9;
    }
    .vimeo-icon{
        background: #d51010;
    }
    .behance-icon{
        background: #1f49ff;
    }

}

.author-info{
    position: relative;
    width:100%;
    border-top: 1px solid $border;
    padding:18px 0;
    &:after{
        clear: both;
    }
    &__photo{
        width:110px;
        float: left;
        @include breakpoint(max_sm){
            width:60px;
        }
    }
    &__text-content{

    }
    &__name{
        display: inline-block;
        padding-right: 10px;
        color:#484848;
        margin-bottom: 8px;
    }
    &__designation,&__date{
        color:#bababa;
        font-size: 13px;
    }
    &__text-content{
        padding-top: 9px;
        margin-left: 134px;
        @include breakpoint(max_sm){
            margin-left: 70px;
            padding-top: 0;
        }
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &:last-child{
        border-bottom: 1px solid $border;
    }
}
.replay-comment{
    padding-left: 40px;
}
.author-info-border{
    border:1px solid $border;
    border-radius: 3px;
    padding:17px 18px;
}
.comment-title{
    margin-bottom: 40px;
}
.input-form{
    .name-email-website{
        display: flex;
        width:100%;
        @include breakpoint(max_sm){
            display: block;
        }
        input{
            margin-right: 20px;
            margin-bottom: 20px;
            height: 40px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .form-control{
        border-radius: 0;
    }
    .commtent-text-input{
        min-height: 195px;
        margin-bottom: 30px;
    }
}
.widget{
    border:1px solid $border;
    margin-bottom: 30px;
    ul{
        li{
            border-top: 1px solid $border;
            padding-top: 13px;
            padding-bottom: 13px;
            a{
                color:#484848;
                &:hover{
                    color: $base;
                }
                i{
                    padding-top: 8px;
                }
            }
        }
    }
}
.widget-search{
    position: relative;

    &__text-field{
        border-radius: 0;
        height:50px;
        box-shadow: none;
        padding-left: 20px;
        border:1px solid $border;
    }
    &__submit{
        position: absolute;
        background: transparent;
        border:0;
        top:15px;
        right:15px;
        i{
            font-weight: 700;
            color: $black;
            font-size: 16px;
        }
    }
}
.main-content--small-gap{
    margin-top: 50px;
}
.widget__title{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 25px;
}
.widget:not(.widget-search){
    padding:45px 35px 35px 35px;
}
.recent-post{
    // display: flex;
    // align-items:top;
    margin-top: 12px;
    position: relative;
    .image{
        width: 100px;
        position: absolute;
        top:7px;
        left:0;
    }

    .text-content{
        margin-top:-7px;
        padding-left: 115px;
        margin-bottom: 13px;
    }
    .blog-meta{
        margin-bottom: 3px;
        &__date{
            color: $bcolor;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 17px;
        color: $black;
        margin-bottom: 0;
    }
}
.widget-category{
    ul{
        li{
            a{
                color: $black;
                font-size: 15px;
            }
        }
    }
}

.widget{
    .panel-group{
        border-top: 1px solid $border;
        margin:0;
    }
    .panel-group .panel+.panel {
        margin-top: 2px;
        padding-bottom: 4px;
    }
    .panel-heading{
        padding:10px 0;
        border: 0;
        .accordion-toggle{
            color: #999999;
        }
        .accordion-toggle:not(.collapsed){
            color: $black;
            .indicator{
                &:before{
                    content:"\f106";
                }
            }
        }
    }
    .panel{
        border-bottom: 1px solid $border;
        box-shadow: none;
        &:last-child{
            border-bottom: 0;
        }
    }
    .indicator{
        float: right;
    }
    .panel-body{
        border: 0;
        padding: 0 5px 10px 8px;
        ul{
            li{
                border:0;
                padding: 2px 0;
                font-size: 13px;
                a{
                    color: #999999;
                }
            }
        }
    }
    .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
        border: 0;
    }
}

.shop-sidebar{
    .widget{
        padding: 35px 30px 20px 30px;
    }
}
.sidebar-color-filter{
    .radio-button__label{
        padding-left: 0;
        display: block;
    }
    .radio-button__label:before{
        left: auto;
        right: 0;
    }
}
.ui-widget.ui-widget-content{
    border:0;
    height: 3px;
    background: #e8e8e8;
    border-radius: 0;
}
.range-slider-wrapper .ui-slider-handle{
    background-image: linear-gradient( #f800bb 20%, #fa3d05 100%);
    height: 12px;
    width:12px;
    border-radius: 100%;
    border:0;
    &:focus{
        outline: none;
    }
    &:after{
        position: absolute;
        width:10px;
        height: 10px;
        left:1px;
        top:1px;
        border-radius: 100%;
        background: $white;
        content: '';
    }
}
.ui-slider-horizontal .ui-slider-handle{
    top:-5px;
    margin-right: 0;
    margin-left: 0;
}
.range-slider-wrapper{
    .btn{
        min-width: 90px;
        width:90px;
    }
}
.xara-pagination{
    li{
        display: inline-block;
        margin-right: 17px;
        a{
            &.next{
                width:75px;
                line-height: 38px;
                min-width: 75px;
            }
        }
    }
}
.filter-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    select{
        width:150px;
        height: 44px;
        border-radius: 0;
        margin-left: 27px;
        border:1px solid $border;
        box-shadow: none;
        color: $black;
    }
}













/* -----------------------------------
** End Blog
-------------------------------------*/
