.browse-category{
    position: relative;
    display: block;
    overflow: hidden;
    width:100%;
    img{
        transition: .3s;
    }
    @include breakpoint(max_sm){
        img{
            max-height:  250px;
            width:100%;
            object-fit: cover;

        }
    }
    &__name{
        display: inline-block;
        height: 31px;
        line-height: 31px;
        padding:0 15px;
        position: absolute;
        top:30px;
        background: transparent;
        left:30px;
        transition: .3s;
        z-index: 2;
        span{
            position: relative;
            display: inline-block;
            white-space: nowrap;
            padding:0 15px;
            overflow: hidden;
            &:before,&:after{
                content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              background: $white;
              border-radius: 0;
              z-index: -1;
            }
            &:after{
                opacity: 0;
                background-image: linear-gradient(90deg, #f800bb 20%, #fa3d05 100%);
                transition: all .3s ease-in-out;
                //transform: translateX(-30px);
                min-width: 185px;
            }
        }

    }
    &:hover{
        img{
            transform: scale(1.4);
        }
        .browse-category__name{
            color: $white;
            span{
                &:after{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}
.browse-category-wrap{
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
    @include breakpoint(max_sm){
        display: block;
    }
    &__left{
        width:33.33333%;
        padding-left: 2px;
        padding-right: 2px;

        @include breakpoint(max_sm){
            float: left;
            width:100%;
            margin-bottom: 4px;
        }
    }
    &__right{
        width:66.333333%;
        padding-left: 2px;
        padding-right: 2px;
        @include breakpoint(max_sm){
            width:100%;
        }
        &-top{
            display: flex;
            margin-left: -2px;
            margin-right: -2px;
            @include breakpoint(max_sm){
                display: block;
                width: 100%;
            }
            &1,&2{
                padding-left: 2px;
                padding-right: 2px;
                padding-bottom: 4px;
                @include breakpoint(max_sm){
                    padding-right: 0;
                }
            }
        }
    }
}
.all-product-button{
    height: 42px;
    border:2px solid $border;
    text-align: center;
    display: inline-block;
    padding:0 25px;
    line-height: 40px;
    color: $black;
    &:before{
        background: transparent;
    }
    &:hover{
        border-color:transparent;
    }
}
.ad-wrapper{
    position: relative;
    .ad-text-content{
        position: absolute;
        right: 15%;
        top:0;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .inner-text-conent{
        position: relative;
    }
    .discount-percent{
        position: absolute;
        right: 10px;
        top:-30px;
        width:65px;
        line-height: 45px;
        letter-spacing: 2px;
        left: initial;
        background: $white;
        color: $black;
        font-size: 13px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.05);
        & > span{
            padding-left: 4px;
            &:before{
                    border-left: 9px solid $white;
            }
        }
    }
    .percent{
        display: inline-block;
        font-size: 60px;
        line-height: .9;
    }

    .big-sale{
        font-family: $play;
        font-weight: 400;
        font-size: 70px;
        margin:0;
        line-height: .9;

    }
}















//
