/* -----------------------------------
** Button
-------------------------------------*/
.btn{
    border:0;
    border-radius: 0;
    color: $white;
    font-size: 13px;
    display: inline-block;
    min-width: 155px;
    white-space: nowrap;
    font-family: $rb;
    padding:0 15px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    background: transparent;
    overflow: hidden;
    &:focus{
        outline: none;
    }
    &:before,&:after{
        content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: $black;
      border-radius: 0;
      z-index: -1;
    }
    &:after{
        opacity: 0;
        background-image: linear-gradient(90deg, #f800bb 20%, #fa3d05 100%);
        transition: all .3s ease-in-out;
        //transform: translateX(-30px);
        min-width: 185px;
    }
    &:hover,&.active{
        // background-image: linear-gradient(90deg, #f800bb 20%, #fa3d05 100%);
        color: $white;
        &:after{
            opacity: 1;
            transform: translateX(0);
        }
    }
    &.active{
        &:hover{
            &:after{
                background-image: linear-gradient(90deg, #f800bb 90%, #fa3d05 100%);
            }
        }
    }
    &.base-bg{
        border-color: $base;
        color: $white;
        background: $base;
    }
}
// input.btn{
//     background: $black;
// }
/* -----------------------------------
** End Button
-------------------------------------*/
