/* -----------------------------------
** Cart
-------------------------------------*/
.cart-product-details{
    display: flex;
    align-items: center;
    .image{
        margin-right: 45px;
        width: 100px;
        @include breakpoint(max_sm){
            width:60px;
            margin-right: 10px;
        }
    }
}
.cart-product{
    &__name{
        font-size: 15px;
        font-weight: 500;
    }
    &__close{
        height: 36px;
        width: 36px;
        border:1px solid $border;
        border-radius: 100%;
        text-align: center;
        line-height: 35px;
        font-size: 12px;
        float: right;
        color: $black;
        display: inline-block;
        padding-left: 2px;
    }
}
.cart-table-wrapper{
    .table>thead>tr>th{
        font-weight: 500;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        border-bottom: 1px solid $border;
        padding-left: 0;
        padding-bottom: 25px;
    }
    .table>tbody>tr>td{
        padding-left: 0;
        border-bottom: 1px solid $border;
        padding-top: 27px;
        padding-bottom: 27px;
        vertical-align: middle;
    }
}
.cart-cupon{
    &__input{
        display: inline-block;
        width:225px;
        height: 45px;
        border-radius: 0;
        border:1px solid $border;
        box-shadow: none;
        padding-left: 20px;
        margin-right: 5px;
    }
    &__apply-button{
        width:115px;
        height: 45px;
        line-height: 45px;
        min-width: 115px;
    }
}
.cart-table-update{
    height: 45px;
    line-height: 45px;
}
.cart-total{
    max-width: 325px;
    margin-left: auto;
    padding:30px;
    border:1px solid $border;
    &__title{
        font-weight: 500;
    }
    ul{
        li{
            padding:12px 0;
            border-bottom: 1px solid $border;
            &:first-child{
                border-top: 1px solid $border;
            }
        }
    }
    .proceed-checkout-button{
        display: block;
        width: 100%;
        height: 45px;
        line-height: 45px;
    }
}













/* -----------------------------------
** End Cart
-------------------------------------*/
