/* -----------------------------------
** Feature
-------------------------------------*/
@keyframes fadeInUpSmd {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.product-item{
    margin-bottom: 30px;
    &__image-wrap{
        position: relative;
        img{
            width: 100%;
        }
        .product-item__image{
            opacity: 1;
            transition: .3s;
        }
        .product-item__image--hover{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            opacity: 0;
            transition: .5s;
        }
    }
    &__actions{
        position: absolute;
        bottom:30px;
        text-align: center;
        width:100%;
        // -webkit-transform: translateY(20px);
        // -ms-transform: translateY(20px);
        // -o-transform: translateY(20px);
        // transform: translateY(20px);
        opacity: 0;
        left:0;
        -webkit-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;

        @include breakpoint(max_sm){
            opacity: 1;
        }
    }
    &__action{
        position: relative;
        display: inline-block;
        height: 44px;
        width: 44px;
        border: 1px solid $border;
        line-height: 44px;
        font-size: 18px;
        margin: 2px;
        color: $black;
        font-weight: 500;
        background: $white;
        -webkit-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        //transform: scale(.04);
        &:hover{
            i{
                background: linear-gradient(45deg, #d900a3 10%, #f87354 100%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
            }

        }
        &:nth-child(1){
            transform: translateX(-15px);
            transition: all .3s ease-in-out 0s;
            @include breakpoint(max_sm){
                transform: translateX(0);
            }
        }
        &:nth-child(2){
            // transform: translateY(10px)
            //transform: scale(.04);
            transform:   translateX(-20px);
            transition: all .4s ease-in-out 0s;
            @include breakpoint(max_sm){
                transform: translateX(0);
            }
        }
        &:nth-child(3){
            transform:  translateX(-20px);
            transition: all .5s ease-in-out 0s;
            @include breakpoint(max_sm){
                transform: translateX(0);
            }
        }

        // &:nth-child(2){
        //     -webkit-transform: translateY(10px);
        //     -ms-transform: translateY(10px);
        //     -o-transform: translateY(10px);
        //     transform: translateY(10px);
        //     -webkit-transition: all .3s ease-in-out 0s;
        //     -o-transition: all .3s ease-in-out 0s;
        //     transition: all .3s ease-in-out 0s;
        //     @include breakpoint(max_sm){
        //         -webkit-transform: translateY(0px);
        //         -ms-transform: translateY(0px);
        //         -o-transform: translateY(0px);
        //         transform: translateY(0px);
        //     }
        // }
        // &:nth-child(3){
        //     -webkit-transform: translateY(20px);
        //     -ms-transform: translateY(20px);
        //     -o-transform: translateY(20px);
        //     transform: translateY(20px);
        //     -webkit-transition: all .3s ease-in-out 0s;
        //     -o-transition: all .3s ease-in-out 0s;
        //     transition: all .3s ease-in-out 0s;
        //     @include breakpoint(max_sm){
        //         -webkit-transform: translateY(0px);
        //         -ms-transform: translateY(0px);
        //         -o-transform: translateY(0px);
        //         transform: translateY(0px);
        //     }
        // }
    }
    &:hover{
        .product-item__actions{
            opacity: 1;
            filter: alpha(opacity=100);
            // -webkit-transform: translateY(0px);
            // -ms-transform: translateY(0px);
            // -o-transform: translateY(0px);
            // transform: translateY(0px);
        }
        .product-item__action{
            // -webkit-transform: translateY(0px);
            // -ms-transform: translateY(0px);
            // -o-transform: translateY(0px);
            //transform: translateY(0px);
            transform: scale(1) translate(0px);
        }
        .product-item__image--hover{
            opacity: 1;
        }
    }
    &__text-content{
        text-align: center;
        padding:18px 0;
    }
    &__title{
        margin-bottom: 0;
         font-weight: 500;
    }
    &__price{

    }
}
.prover-image-wrap{
    margin-top: -100px;
    margin-left: -50px;
    page-break-before: relative;
}

#popover-one,#popover-two{
    display:none;
}
.popover-plus-button{
    height: 30px;
    width:30px;
    font-size: 13px;
    color: $black;
    font-weight: 700;
    background: $yellow;
    position: relative;
    line-height: 34px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    i{
        font-weight: 700;
        color: $black;
    }
    &:before{
        width: 44px;
        height: 44px;
        border-radius: 100%;
        position: absolute;
        content: '';
        left:-7px;
        top:-7px;
        border:1px solid $white;
    }
}
#plus-one{
    top:55%;
    right: 57%;
}
#plus-two{
    top: 36%;
    right: 30%;
}
.popover{
    max-width: 190px;
    background: rgba(0,0,0,0.48);
    border:0;
    border-radius: 0;
    box-shadow: none;
    color: $white;
    text-align: justify;
    font-size: 12px;
}
.popover.right>.arrow{
    border-right-color: transparent;
    &:after{
        border-right-color: rgba(0,0,0,0.48);
    }
}
.popover-content{
    padding:25px;
    font-family: $open;
}
.popover.right{
    margin-left: 25px;
    margin-top: 30px;
    .arrow{
        top:38px !important;
    }
}
.roadmap-wrap{
    position: relative;
    .roadmap-year{
        position: absolute;
        width: 100%;
        text-align: center;
        top:50%;
        transform: translateY(-50%);
        font-size: 179px;
        font-weight: 700;
        color: $black;
        opacity: .4;
        letter-spacing: 50px;
        @include breakpoint(max_md){
            font-size: 80px;
            letter-spacing: 5px;
        }
    }
    .roadmap-arrow{
        position: absolute;
        bottom:-25px;
        width:50px;
        height: 50px;
        background: $white;
        transform: rotate(45deg);
        margin-left: auto;
        margin-right: auto;
        left:0;
        right:0;
    }
}
.filter-options{
    text-align: center;
    ul{
        li{
            display: inline-block;
            padding: 0 17px;
            a{
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                font-weight: 500;
                display: block;
                margin-bottom: 5px;
                &.active{
                    color: $black;
                }
            }
        }
    }
}
.mix{
    display: none;
}
.quickview-wrapper  {
    position: relative;
    background: #FFF;
    padding: 0;
    width:auto;
    width: 75%;
    max-width: 1200px;
    margin: 30px auto;
    .quickview{
        display: flex;
        align-items: center;
        @include breakpoint(max_md){
            display: block;
        }
    }
    .image-wrap{
        width: 45%;
        @include breakpoint(max_md){
            width: 100%;
            max-height: 50vh;
            text-align: center;
            img{
                object-fit: cover;
                max-height: 50vh;
            }
        }
    }
    .single-product{
      width: 55%;
      padding:15px 50px;

      @include breakpoint(max_md){
          width: 100%;
          text-align: center;
          padding:15px 30px;
      }
    }
    .single-product-cart,
    .single-product__categories,
    .single-product__colors,
    .product-share-social{
        @include breakpoint(max_md){
            justify-content: center;
        }
    }

}
.loading-wave-animation {
    width: 55px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    position: absolute;
    top: 0;
    left: -8px;
    overflow: hidden;
}
.loading-wave-animation span{
    position: absolute;
    left: -100%;
    width: 200%;
    height: 100%;
    background: url('../images/sports/separator.png') repeat-x center center;
    background-size: 50% auto;
}
.load-more-wave {
    display: inline-block;
    position: relative;
    color: #bababa;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 8px;
    font-size: 13px;
    padding-top: 25px;
}




//electronics
.discount-percent{
    background:#da272d;
    color: $white;
    display: inline-block;
    line-height: 34px;
    width:44px;
    text-align: center;
    position: absolute;
    top:30px;
    font-weight: 500;
    left:20px;
    &>span{
        position: relative;
        display: block;
        &:before{
            position: absolute;
            bottom:-7px;
            content: '';
            height: 14px;
            width:10px;
            left:0px;
            border-top: 7px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 9px solid #da272d;
        }
    }
    &--green{
        background: #76b949;
        &>span{
            &:before{
                border-left: 9px solid #76b949;
            }
        }
    }
    &--fashion{
        background-image: linear-gradient(90deg, #f800bb 20%, #fa3d05 100%);
        left: initial;
        right: 30px;
    }
}
.on-sale{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    min-width: 50px;
    line-height: 27px;
    text-align: center;
}
.electronics-banner-item{
    position: relative;
    border:1px solid $border;
    background: $white;
    margin-bottom: 30px;
    &__text-content{
        position: absolute;
        left:20px;
        bottom:20px;
    }
    &__title{
        margin-bottom: 4px;
        font-size: 17px;
        max-width: 120px;
        font-weight: 500;
    }
    &__price{
        color: #da272d;
    }

    &--large{
        .electronics-banner-item__title{
            font-size: 30px;
            font-weight: 700;
            line-height: 1.2;
        }
        .electronics-banner-item__text-content{
            left:60px;
            bottom:60px;
        }
        .discount-percent{
            background: #76b949;
            left: initial;
            top:14%;
            right:15%;
            width:50px;
            line-height: 40px;

            &>span{
                &:before{
                    border-left: 9px solid #76b949;
                }
            }
        }
    }

}


.electronics-feature{
    border:1px solid $border;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
    background: #fdfdff;
    position:relative;
    overflow: hidden;
    &:before{
        position: absolute;
        content: '';
        left: -40%;
        bottom: -40%;
        background: #f6f5fe;
        width: 269%;
        height: 100%;
        transform: rotate(-27deg);
    }
    &>*{
        position: relative;
    }
    &__title{
        margin-bottom: 8px;
        max-width: 150px;
        font-size: 28px;
        font-weight: 700;
    }
    &__price{
        color: #d61016;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 2px;

    }
    &__sale{
        color: #542cba;
        opacity: .1;
        font-size: 80px;
        line-height: 1;
        font-family: $play;
    }
}
.hot-offer{
    border: 1px solid $border;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    &:before{
        position: absolute;
        content: '';
        left: -40%;
        bottom: -40%;
        background: #f6f5fe;
        width: 269%;
        height: 100%;
        transform: rotate(-27deg);

    }
    &__text-content{
        position: relative;
    }
    &__image{
        position: relative;
        padding:30px 30px 0 30px;
        text-align: center;
    }
    &__title{
        margin-bottom: 3px;
        font-size: 20px;
        font-weight: 500;
    }
    .counter-wrap{
        position: relative;
        z-index: 2;
    }
    .discount-percent{
        left:initial;
        top:50px;
        right:50px;
    }
}
.countdown-section{
    width:58px;
    max-width: 58px;
    max-height: 58px;
    height: 58px;
    border:2px solid #eaeaec;
    border-radius: 100%;
    text-align: center;
    background: $white;
    float: none;
    display: inline-block;
    clear: both;
    margin-right: -10px;
    padding-top: 10px;
    position: relative !important;
    &:last-child{
        margin-right: 0;
    }
    &:nth-child(1){
        z-index: 4;
    }
    &:nth-child(2){
        z-index: 3
    }
    &:nth-child(3){
        z-index: 2;
    }
    &:nth-child(4){
        z-index: 1;
    }
}
.is-countdown{
    display: flex;
}
.countdown-amount {
    color: #d61016;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}
.countdown-row {
    clear: both;
    float: none;
}
.countdown-row .countdown-period {
  color: $black;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
}
.widget2__title{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 35px;
}
.tab-style1{
    margin-bottom: 28px;
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        margin:0;
        color: $black;
        border:0;
    }
    .nav-tabs{
        margin:0;
        border:0;
        &>li{
            margin:0;
            border:0;
            &:not(:last-child){
                margin-right: 40px;
            }
            &>a{
                margin:0;
                border:0;
                padding: 5px 0;
                text-transform: capitalize;
                font-size: 22px;
                font-weight: 500;
                &:hover{
                    margin:0;
                    color: $black;
                    border:0;
                    background: transparent;
                }

            }
        }
    }
}
.product-item--two{
    border:1px solid $border;
    background: #fdfdff;
    padding: 60px 20px;
    position: relative;
    .product-item__image-wrap{
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-item__text-content{
        padding: 0;
    }
    .product-item__actions{
        bottom:7px;
    }
}
.feature-section--furniture{
    .electronics-feature__title{
        font-size: 35px;
        font-weight: 400;
        font-family: $play;
    }
    .electronics-feature{
        border:0;
        background: #fafafa;
        &:before{
            background: #f4f4f4;
        }
    }
    .electronics-feature__image{
        max-height: 190px;
        img{
            max-height: 100%;
        }
    }
    .electronics-feature__price{
        font-size: 10px;
    }
    .electronics-feature__sale{
        font-size: 70px;
        padding-top: 10px;
        display: inline-block;
        color: #e7e7e7;
        opacity: 1;
    }
}
.discount-title{
    font-size: 160px;
    font-family: $play;
    font-weight: 400;
    color: #e7e7e7;
    line-height:.74;
    @include breakpoint(max_md){
        font-size: 60px;
    }
}
.pdr0{
    padding-right: 0 !important;
}
.discount-carousel{
    &.owl-carousel .owl-stage-outer{
        padding-bottom: 85px;
    }

    &__item{

    }

}
.discount-carousel-item{
    background: linear-gradient( -15deg, #f4f4f4 0%,#f4f4f4 40%,#f4f4f4 40%,#fafafa 40%,#fafafa 100%);
    padding-top: 40px;
    padding-bottom: 210px;
    .separator{
        width: auto !important;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    &__title{
        font-size: 23px;
        font-weight: 500;
    }
    .price{
        font-size: 18px;
    }
    .countdown-section{
        height: 70px;
        width: 70px;
        max-width: 70px;
        max-height: 70px;
        padding-top: 13px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .countdown-amount {
        font-size: 25px;
        font-weight: 700;
    }
    &__image{
        margin:0  auto;
        position: relative;
        position: absolute;
        left: 0;
        right: 0;
        bottom:-85px;
        img{
            width: auto !important;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .discount-percent{
        background: #76b949;
        left:25%;
        top:25%;
        &>span{
            &:before{
                border-left: 9px solid #76b949;
            }
        }
    }
    &--two{
        .discount-percent{
            left:25%;
            top:-25px;
        }
    }
}
.instragram-section{
    border-top: 1px solid $border;
}
.instragram-carousel{

}
.organic-feature{
    position: relative;
    min-height: 250px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
    background: #fafef0;
    position:relative;
    overflow: hidden;
    background: linear-gradient( -11deg, #f0fcce 0%,#f0fcce 32%,#f0fcce 32%,#fafef0 32%,#fafef0 100%);
    &>*{
        position: relative;
    }
    &__title{
        // margin-bottom: 8px;
        max-width: 200px;
        font-size: 44px;
        font-family: $play;
        font-weight: 400;
        line-height: .9;
        color: #88ba49;
    }
    &__image{
        position: absolute;
        right: 20px;
        max-width: 160px;
    }
    &--red{
        background: linear-gradient( -11deg, #ffd0cc 0%,#ffd0cc 32%,#ffd0cc 32%,#fff5f4 32%,#fff5f4 100%);
        .organic-feature__title{
            color: #f23030;
        }
        .organic-feature__image{
            max-width: 170px;
        }
    }
    &--yellow{
        background: linear-gradient( -11deg, #ffea8d 0%,#ffea8d 32%,#ffea8d 32%,#fffae6 32%,#fffae6 100%);
        .organic-feature__title{
            color: #fab634;
        }
        .organic-feature__image{
            max-width: 190px;
        }
    }
}

.product-item--border{
    .product-item__image-wrap{
        border:1px solid #ebebeb;
        background: transparent;
    }
    .product-item__text-content{
        padding:15px 0;
    }
    .discount-percent{
        top:25px;
        right: 25px;
        left: initial;
    }
}
.discount-title--gradient{
    background-image: linear-gradient(90deg, #8cbf4c 20%, #f84717 100%);
    -webkit-background-clip:text;
    display: inline-block;
    line-height: .85;
    -webkit-text-fill-color:transparent;
    margin-bottom: -20px;

}
.discount-carousel-item--organic{
    background: linear-gradient( -15deg, #f0fcce 0%,#f0fcce 40%,#f0fcce 40%,#f6fde2 40%,#f6fde2 100%);
    .price{
        .base-color{
            color: $red;
        }
    }
}

.hover-white-overlay{
    &:before,&:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        z-index: 1;
    }
    &:hover{
        &:before{
            right: 50%;
            left: 50%;
            background-color: rgba(255,255,255,0.5);
        }
        &:after{
            top: 50%;
            bottom: 50%;
            background-color: rgba(255,255,255,0.5);
        }
    }
}














/* -----------------------------------
** End Feature
-------------------------------------*/
