/* -----------------------------------
** Footer
-------------------------------------*/
.dark-footer{
    background: #161616;
    color: #999999;
    .footer-widget{
        &__title{
            color: $white;
        }
    }
    .social-icons > li > a{
        color: $white;
    }
}
.main-footer{
    padding-top: 115px;
    padding-bottom: 80px;
    font-size: 13px;
}
.footer-widget{
    margin-bottom: 30px;
    @include breakpoint(max_sm){
        text-align: center;
        p{
            text-align: center;
        }
    }
    &__title{
        margin-bottom: 26px;
        font-weight: 700;
        text-transform: uppercase;
    }
    ul>li{
        padding-bottom: 12px;

    }
    ul>li>a{
        color: #999999;
        &:hover{
            color: $white;
        }
    }
}
.newsletter-form{
    position: relative;
    &__input{
        height: 48px;
        border:3px solid #303030;
        border-radius:0;
        background: transparent;
        padding-left: 24px;
    }
    &__submit{
        position: absolute;
        top:0;
        padding-top: 4px;
        padding-right: 15px;
        bottom: 0;
        border:0;
        background: transparent;
        right: 0;

        i{
            font-size: 25px;
        }
    }
    ::-webkit-input-placeholder {
        font-weight: 500;
        font-family: $open;
        letter-spacing: 2px;
        font-size: 12px;
    }
}

.copyright-area{
    //background: #2c2c2c;
    border-top: 1px solid #292929;
    padding:14px 0;
}
.footer-logo-wrap{
    display: flex;
    align-items: center;
    padding:10px 0;
    .footer-logo{
        margin-right: 30px;
        @include breakpoint(max_sm){
            margin-right: 10px;
        }
    }
}
.social-icons{
    li{
        display: inline-block;
        padding:10px 10px;
        @include breakpoint(max_sm){
            padding:8px;
        }
        &:last-child{
            padding-right: 0;
        }
        &:first-child{
            padding-left: 0;
        }
        a{
            font-size: 14px;
            &:hover{
                color: $base;
            }
        }
    }
}

.xara-footer--2{
    .main-footer{
        padding-top: 77px;
        padding-bottom: 55px;
    }

    .footer-widget__title{
        font-size: 22px;
        font-weight: 500;
        text-transform: capitalize;
    }
    .newsletter-form__input{
        border-color: $border;
    }
    .copyright-area{
        border-color: $border;
    }
    .footer-widget ul > li > a{
        &:hover{
            color: $base;
        }
    }
}
.client-area-fashion{
    .clients-carousel{
        border-top: 0;
    }
}

.xara-footer--fashion{
    .footer-widget__title{
        font-family: $play;
    }
}
.xara-footer--2{
    .social-icons{
        a{
            color: $black;
        }
    }
}








/* -----------------------------------
** End Feature
-------------------------------------*/
