/* -----------------------------------
** Form Element
-------------------------------------*/
.form-group{
    margin-bottom: 20px;
    overflow-x: hidden;
    display: block;
    &__label{
        padding-bottom: 5px;
        display: block;
    }
    &__select{
        display: block;
        width: 100%;
        &:focus{
            box-shadow: none;
        }
    }
}
.xara-checkbox{
    &__input{
        display: none;
        &:checked ~ .xara-checkbox__label{
            &:before{
                background-image: linear-gradient(90deg, #f800bb 20%, #fa3d05 100%);
                border-color: $green;
                border:0;
            }
        }
    }
    &__label{
        position: relative;
        padding-right: 15px;
        cursor: pointer;
        display: block;
        &:before{
            width:11px;
            height: 11px;
            right: 0;
            top:6px;
            border-width: 1px;
            border-style: solid;
            position: absolute;
            content: '';
            border-color: #d7d7d7;

        }
    }
}
.radio-button{
    &__input{
        display: none;
        &:checked ~ .radio-button__label--green{
            &:before{
                background: $green;
            }
        }
        &:checked ~ .radio-button__label--red{
            &:before{
                background: $red;
            }
        }
        &:checked ~ .radio-button__label--black{
            &:before{
                background: $black;
            }
        }
        &:checked ~ .radio-button__label--purple{
            &:before{
                background: $purple;
            }
        }
    }
    &__label{
        position: relative;
        padding-left: 18px;
        padding-right: 15px;
        cursor: pointer;
        &:before{
            width:9px;
            height: 9px;
            left:0;
            top:6px;
            border-width: 1px;
            border-style: solid;
            position: absolute;
            content: '';
            border-radius: 100%;

        }
        &--green{
            &:before{
                border-color: $green;
            }
        }
        &--red{
            &:before{
                border-color: $red;
            }
        }
        &--black{
            &:before{
                border-color: $black;
            }
        }
        &--purple{
            &:before{
                border-color: $purple;
            }
        }
    }
}
.select2-container{
    //width: 100% !important;
    .select2-selection--single{
        height: 40px;

        border-color: $border;
        border-radius: 5px;
        .select2-selection__rendered{
            padding-left: 14px;
            line-height: 38px;
        }
    }
}
.hide-search--dropdown .select2-search--dropdown{
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    right:10px;
    b{
        margin-top: 4px;
    }
}
/* -----------------------------------
** End Form Element
-------------------------------------*/
