/* -----------------------------------
** Header
-------------------------------------*/

.main-menu-area{
    background: rgba(255,255,255,.90);
    box-shadow: 0 8px 7px rgba(255,255,255,.10);
    border-bottom:1px solid $border;
    @include breakpoint(max_md){
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
.main-menu-area--absolute{
    position: absolute;
    width: 100%;
    top:0;
    z-index: 987;
    left:0;
}

/* -----------------------------------
** Search
-------------------------------------*/
.search-box {
  min-height: 55px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-box a i {


}

.top-search-input-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 111;
  -webkit-animation: searchZoomIn .4s;
  animation: searchZoomIn .4s;
  display: none;
}

.top-search-input-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: .5;
  color: #fff;
}

.top-search-input-wrap ::-moz-placeholder {
  /* Firefox 19+ */
  opacity: .5;
  color: #fff;
}

.top-search-input-wrap :-ms-input-placeholder {
  /* IE 10+ */
  opacity: .5;
  color: #fff;
}

.top-search-input-wrap :-moz-placeholder {
  /* Firefox 18- */
  opacity: .5;
  color: #fff;
}

.top-search-input-wrap.show {
  display: block;
}

.top-search-input-wrap .top-search-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.88);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.top-search-input-wrap .search-wrap .search.educon-top-search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @include breakpoint(max_sm){
      width: 90%;
  }
}

.top-search-input-wrap .search-wrap .search.educon-top-search .sp_search_input::after {
  content: "\f002";
  font-size: 26px;
  color: #fff;
  font-family: fontawesome;
  position: absolute;
  right: 0;
  pointer-events: none;
  line-height: 48px;
  cursor: pointer;
  @include breakpoint(max_sm){
      font-size: 18px;
  }
}

.top-search-input-wrap .search-wrap .search.educon-top-search input {
  background: transparent;
  border-radius: 0;
  border-width: 0;
  height: 64px;
  box-shadow: none;
  width: 100%;
  color: #fff;
  font-size: 40px;
  padding: 0px 40px 15px 0px;
  line-height: 64px;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #303030;
  @include breakpoint(max_sm){
      font-size: 18px;
  }
}

.top-search-input-wrap .close-icon {
  font-size: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  font-weight: 200;
  i{
      color: $white !important;
  }
}

@-webkit-keyframes searchZoomIn {
  0% {
    opacity: 0;
    transition: .3s;
  }
  50% {
    opacity: 1;
  }
}

@keyframes searchZoomIn {
  0% {
    opacity: 0;
    transition: .3s;
  }
  50% {
    opacity: 1;
  }
}
.main-menu-area-one{
    box-shadow:0 0 2px rgba(171, 171, 171, .36);
}
.menu-logo{
    display: flex;
    width: 100%;
    align-items: center;
    .logo{
        @include breakpoint(max_lg){
            max-width: 150px;
        }
    }

}
.header-icons{
    margin-left: auto;
    display: flex;
    align-items: center;
    i{
        color: #000000;
        font-size: 14px;
    }
}
.search-box, .favorite-box, .cart-box{
    margin-left: 25px;
    &__link{
        color: $black;

    }
}
.search-box__link{
    margin-right: -10px;
}
.favorite-box, .cart-box{
    position: relative;
    .count-number{
        display: inline-block;
        position: absolute;
        top:-8px;
        right:-8px;
        height: 16px;
        width:16px;
        border-radius: 100%;
        line-height: 16px;
        text-align: center;
        font-size: 11px;
        padding-left: 1px;
    }
}
/* -----------------------------------
** Menu Area
-------------------------------------*/
.main-menu-area-one{
    padding:9px 0;
    background: $white;
}
#easy-menu > ul {
  float: right;
  padding-left: 40px;
}

#easy-menu > ul > li {
  margin: 0 13px;
  position: relative;
  @include breakpoint(max_lg){
     margin: 0 9px;
  }
}
#easy-menu > ul > li:hover >a{
     color: $base;
}
#easy-menu > ul > li > a {
  color: #000000;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 20px 5px;
  font-size: 12.5px;
  position: relative;
  text-transform: uppercase;
  font-family: $rb;
  @include breakpoint(max_lg){
      padding: 27px 5px;
  }

}
#easy-menu > ul > li > a:hover{

}
#easy-menu,
#easy-menu ul,
#easy-menu ul li,
#easy-menu ul li a {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}

#easy-menu > ul > li {
  float: left;
}

#easy-menu ul li> ul,
.dropdown-mega-menu {
  position: absolute;
  left: -9999px;
  background: $white;
  z-index: 6;
  padding: 15px 26px 15px 26px;
  margin-top: 10px;
  transition-property: margin-top;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 7px rgba(0,0,0,0.11);

}
#easy-menu ul .dropdown-mega-menu{

}
.dropdown-mega-menu.column-3{
    width:835px;
    // left: auto !important;
    // margin-top: 0 !important;
    ul{
        width:28%;
    }
}
.header-humberger-icon{
    padding: 2px;
    margin-left: 18px;
}
.dropdown-mega-menu{
    display: flex;
    padding:43px 55px;
    //position: relative;
    .megamenu-image{
        position: absolute;
        right:20px;
        bottom:7px;
        z-index: -1;
    }
    .megamenu-image--furniture{
        bottom:initial;
        top:0;
    }
    &__title{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: $black;
        display: block;
        padding-bottom: 10px;
    }

    li{
        a{
            color: #888888;
            font-size: 13px;
            &:hover{
                color: $base;
            }
        }
    }
}
#easy-menu ul ul li {
  border-bottom: 1px solid rgba(255,255,255,.07);
}

#easy-menu ul ul li {
  padding: 8px 0;
}

#easy-menu ul ul li a {
	 color: #888888;
	 font-size:13px;
}

#easy-menu ul ul li a:before {
  //display: none;
}

#easy-menu ul ul li {
  transition: all .25s ease;
}

#easy-menu li:hover > ul,
#easy-menu li:hover > .dropdown-mega-menu {
  left: auto;
  margin-top: 0;
}


#easy-menu ul ul ul {
  margin-left: 100%;
  transition: .3s;
}

#easy-menu ul ul li:last-child {
  border-bottom: 0;
}

#easy-menu ul ul li a {
  width: 150px;
}

#easy-menu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

@media (max-width: 991px) {

}

.mobile-background-nav {
  position: fixed;
  top: 0;
  display: none;
  left: -250px;
  width: 250px;
  transition: .3s;
  padding: 10px 0;
  z-index: 999;
  background: #272732;
  height: 100vh;
  overflow: auto;
  @include breakpoint(max_md){
      display: block;
  }
}

.mobile-background-nav .mobile-inner {
  overflow: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-background-nav .mobile-inner .mobile-menu-close {
  text-align: right;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile-background-nav .mobile-inner .mobile-menu-close i {
  cursor: pointer;
  padding: 5px;
  font-size: 17px;
  color: $white;

}

.mobile-background-nav ul {
  list-style: none;
  padding: 0;
}

.mobile-background-nav ul .dropdown {
  overflow: hidden;
  display: none;
}

.mobile-background-nav ul .dropdown.menu-show {
  /*display: block;*/
}

.menu-accordion > li {
  border-bottom: 1px solid #2d2c31;
}

.dropdown > li {
  border-top: 1px solid #2d2c31;
  padding-left: 15px;
}

.mobile-background-nav ul li a {
  width: 100%;
  display: block;
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
  text-transform: uppercase;
  &>i{
      float: right;
  }
}

.mobile-background-nav.in {
  left: 0;
}

.main-menu-fix{
    position: fixed !important;
    left:0;
    background: $white;
    top:0;
    z-index: 9999 !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.08);
    width:100%;
    #easy-menu > ul > li > a{
        padding:30px 5px;
    }
    .menu-logo{
        height: 75px;
    }
}

// Home electronics
.topbar-area{
    border-bottom: 1px solid $border;
    padding-bottom: 5px;
    padding-top: 10px;
}
.topbar-right{
    padding-top: 4px;
    &__item{
        display: inline-block;
        position: relative;
        padding-left: 22px;
        padding-right: 22px;
        @include breakpoint(max_sm){
            padding-left: 7px;
            padding-right: 7px;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        &:before{
            content:"";
            position: absolute;
            height: 20px;
            top:0;
            left:0;
            width: 1px;
            background: $border;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
        &:last-child{
            padding-right: 0;
        }
    }
    &__icon{
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
        svg{
            width:17px;
        }
    }
    &__text{
        // display: inline-block;
        // vertical-align: middle;
    }
    .currency-select{
        border: 0;

    }
}
.track-order{
    svg{
        width:25px;
        display: inline-block;
        vertical-align: middle;
    }
}

.search2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0 20px 0;
    @include breakpoint(max_md){
        display: block;
        text-align: center;
    }
    &>*{
        margin-bottom: 10px;
    }
    .header-icons{
        margin-left: 10px;
        @include breakpoint(max_md){
            justify-content: center;
            padding-top: 10px;
        }
    }
    .logo{
        margin-right: 10px;
        @include breakpoint(max_md){
            display: flex;
            justify-content: space-between;
        }
        .header-humberger-icon{
            color: #000000;
            font-size: 22px;
        }
    }
}

.search2-form{
    width: 500px;
    max-width: 500px;
    border:1px solid $border;
    border-radius: 30px;
    display: flex;

    @include breakpoint(max_md){
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(max_sm){
        display: block;
        border: 0;
        width:auto;
    }
    .category-filter,.search-input{
        height: 50px;
        @include breakpoint(max_sm){
            border:1px solid $border !important;
            width:100%;
            border-radius: 0;
            margin-bottom: 4px;
            height: 40px !important;
        }
    }
    .search-input{
        padding-left: 25px;
        box-shadow: none;
        border:0;
        border-radius: 50px;
        @include breakpoint(max_sm){
            border-radius: 0;
        }
    }
    .category-filter{
        border-radius: 0;
        box-shadow: none;
        border:0;
        outline: 0;
        padding:0 15px;

    }
    .category-filter-wrap{
        position: relative;
        &:before{
            position: absolute;
            content: '';
            background: $border;
            top: 15px;
            width: 1px;
            height: 20px;
            left:0;
        }
    }
    .submit-button{
        border:0;
        margin-left: 20px;
        min-width:60px;
        width:50px;
        border-radius: 0 50px 50px 0;
        font-size: 18px;
        @include breakpoint(max_sm){
            height: 40px;
            border-radius: 0;
            width:100%;
            margin: 0;
            margin-bottom: 4px;
        }
    }
}
.main-menu-area-electronics{
    .dropdown-mega-menu .megamenu-image{
        bottom: 40px;
    }
}
.category-humberger{
    text-transform: uppercase;
    display: inline-block;
    padding:17px 20px;
    background: #edebff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 13px;
    i{
        padding-right: 10px;
        font-size: 16px;

    }
}
.banner-items{
    background: url('../images/electronics/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
}
.main-menu-area-two{
    padding: 7px 0;
    box-shadow: 0 0 2px rgba(171, 171, 171, 0.36);
    background: rgba(255,255,255,0.74);
    z-index: 2;
    position: relative;
}
.slider-area--fashion{
    margin-top: -15px;
}

















/* -----------------------------------
** End Header
-------------------------------------*/
