/* -----------------------------------
** Recent Item
-------------------------------------*/
.recent-item{
    margin-bottom: 30px;
    &__text-content{
        text-align: center;
    }
    .image{
        overflow: hidden;
    }
    img{
        transition: .3s;
        &:hover{
            transform: scale(1.3);
        }
    }
    &__title{
        margin:0;
    }
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    top:50%;
    height: 36px;
    width:36px;
    text-align: center;
    display: inline-block;
    border:1px solid $border;
    border-radius: 100%;
    line-height: 34px;
    color: $black;
    font-size: 20px;
    background: $white;
    transform: translateY(-50%);
}
.owl-carousel .owl-nav .owl-prev{
    left:-20px;
    @include breakpoint(max_sm){
        left:0;
    }
}
.owl-carousel .owl-nav .owl-next{
    right: -20px;
    @include breakpoint(max_sm){
        right:0;
    }
}
/* -----------------------------------
** End Recent Item
-------------------------------------*/
