/* -----------------------------------
** Single Product
-------------------------------------*/
.item-quantity{
    border:2px solid $border;
    height: 44px;
    display: flex;
    align-items: center;
    width:86px;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
    .decrement-button, .increment-button{
        color: $black;
        font-size: 12px;
        font-weight:100;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
        line-height: 44px;
        &:before{
            font-weight: 100;
        }
    }
    .decrement-button{

    }
    .increment-button{

    }
    .product-quantity{
        height: 41px;
        width:30px;
        border:0 !important;
        text-align: center;
        padding:0;
        color: $black;
    }
}
.fav-button{
    width:44px;
    height: 44px;
    line-height: 44px;
    border:2px solid $border;
    text-align: center;
    display: inline-block;
    i{
        color: $black;
        font-weight: 700;
        font-size: 17px;
    }
}
.single-product-cart{
    display: flex;
    align-items: center;
    .btn{
        height: 44px;
        line-height: 44px;
    }
}
.product-rating{
    .glyphicon{
        color: #ff8400;
    }
}
.single-product{
    position: relative;
    padding-right: 50px;
    &__title{
        font-size: 40px;
        margin-bottom: 13px;
    }
    &__price{
        font-size: 30px;
    }
    &__categories, &__colors{
        display: flex;
        .title{
            color: $black;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 13px;
            padding-right: 18px;
        }
    }
    &__category{
        color: #999999;
        a{
            &:after{
                content: ', '

            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }
    }
    &__navigation{
        position: absolute;
        top:34%;
        right:0;
    }
    &__navigation-link{
        height: 37px;
        width: 37px;
        border-radius: 100%;
        border:1px solid $border;
        text-align: center;
        line-height: 36px;
        display: inline-block;
        color: $black;
        font-size: 22px;
        margin-bottom: 5px;
        &:first-child{
            padding-left: 3px;
        }
    }
}
.xara-breadcumb{
    li{
        display: inline-block;
        a{
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            letter-spacing: 1.4px;
            &.active{
                color: $black;
            }
        }
        &:not(:first-child){

            &:before{
                content: '\f105';
                font-family: 'FontAwesome';
                padding-left: 5px;
                padding-right: 7px;
            }
        }
    }
}
.bold-title{
    color: $black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    word-spacing: 4px;
}
.product-share-social{
    display: flex;
    ul{
        li{
            display: inline-block;
            a{
                color: $black;
                &:hover{
                    color: $base;
                }
            }
            padding-right: 14px;
        }
    }
}
.slingle-product-relative-product-container{
    border-top: 1px solid $border;
    padding-top: 90px;
    margin-top: 100px;
}
.single-product-tab-nav{
    .nav-tabs{
        border:0;
        display: inline-block;
        &>li{
            border:0;
            margin:0;
            &>a{
                border:0 !important;
                margin:0 !important;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 13px;
                font-weight: 500;
                &:hover{
                    background: transparent;
                }
            }
        }
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        color: $black;
    }
}
.review-form{
    &__title{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .form-group__input{
        border-radius: 0;
        box-shadow: none;
        border:1px solid $border;
    }
    input.form-group__input{
        height: 45px;
    }
    textarea.form-group__input{
        height: 145px;
    }
    .form-group__label{
        display: block;
        padding-bottom: 14px;
    }
    .form-group{
        margin-bottom: 14px;
    }
}
.review-list-wrap{
    .review-title{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;

    }
}
.review-list{
    position: relative;
    border-bottom: 1px solid $border;
    min-height: 115px;
    padding-top: 24px;
    &:first-child{
        border-top: 1px solid $border;
    }
    &:after{
        clear: both;
    }
    &__avater{
        float: left;
        width:67px;

    }
    &__text-content{
        margin-left: 100px;
        p{
            margin:0;
        }
    }
    &__name{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 7px;
    }
    .rating-wrap{
        display: flex;
        justify-content: space-between;
        .product-rating{
            padding-top: 3px;
        }
    }

}
















/* -----------------------------------
** End Single Product
-------------------------------------*/
