/* -----------------------------------
**  Widgets
-------------------------------------*/
.toprates{
    border: 1px solid $border;
    margin-top: 10px;
    margin-bottom: 40px;
}
.toprate-item{
    position: relative;
    min-height: 150px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $border;
    display: flex;
    align-items: center;
    background: #fdfdff;
    &:last-child{
        border:0;
    }
    &__image{ 

        width: 40%;
        text-align: center;
        img{
            width: auto;
        }
    }
    &__text-content{
        padding-left: 25px;
        width: 60%;
        padding-right: 5%;
    }
    &__title{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 8px;
        line-height: 1.4;
    }
    &__price{
        display: block;
        margin-bottom: 8px;
    }
}
.toprates, .new-arivals{
    .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
        top:-45px;
        height: 27px;
        width:27px;
        line-height: 24px;
        font-size: 15px;
    }
    .owl-carousel .owl-nav .owl-next{
        right: 0;
    }
    .owl-carousel .owl-nav .owl-prev{
        right: 42px;
        left: initial;
    }
}
.bigsale{
    border: 1px solid $border;
    background: #fdfdff;
    padding:30px 0;
    margin-bottom: 30px;
    &__text-content{
        padding-left: 35px;
        position: relative;
    }
    &__image{
        text-align: center;
        img{
            max-width: 85%;
        }
    }
    h2{
        font-size: 45px;
        margin: 0;
        line-height: 1;
    }
    h4{
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        margin:0;
    }
    .discount-percent{
        background: #ff8f2c;
        top: initial;
        bottom:-80%;
        width:55px;
        left: 35px;
        line-height: 40px;
        font-weight: 600;
        font-size: 17px;
        span{
            &:before{
                border-left: 9px solid #ff8f2c;
            }
        }
    }
    .shop-button{
        display: inline-block;
        margin-left: 35px;
        margin-top: 15px;
    }
}
.section-title-2{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}
.elc-category-item{
    display: flex;
    width: 100%;
    border:1px solid $border;
    padding:10px 5px;
    background: #fdfdff;
    align-items: center;
    min-height: 140px;
    margin-bottom: 30px;
    &__image{
        width:55%;
        text-align: center;
        padding:0 10px;
        img{
            width: auto;
        }
    }
    &__text-content{
        width:45%;
    }
    &__title{
        font-size: 15px;
        margin:0;
        font-weight: 500;
    }
    ul{
        li{
            font-size: 12px;
        }
    }
}
.elc-carousel{
    &.owl-carousel .owl-nav .owl-next, &.owl-carousel .owl-nav .owl-prev{
        top:-40px;
        height: 27px;
        width:27px;
        line-height: 24px;
        font-size: 17px;
        color: $black;

    }
    &.owl-carousel .owl-nav .owl-next{
        right: 0;
    }
    &.owl-carousel .owl-nav .owl-prev{
        right: 42px;
        left: initial;
    }
}
.tab-style2{
    .nav-tabs{
        float: right;
    }
    .nav>li>a{
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
.new-arivals{
    .toprate-item{
        border:1px solid $border;
        margin-bottom: 30px;
    }
}
.client-logo-wrap{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width:auto !important;
        max-width: 70%;
        transition: .3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.3);

        }
    }
}
.clients-carousel{
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: $border;
}



























/* -----------------------------------
**  End Widgets
-------------------------------------*/
