.base-color {
  color: #542cba;
}

.base-bg {
  background: #542cba;
}

a:hover {
  color: #542cba;
}

.red-color {
  color: #d61016;
}

.discount-percent--electronics {
  background: #542cba;
}

.discount-percent--electronics span:before {
  border-left: 9px solid #542cba;
}

#easy-menu > ul > li > a:hover {
  color: #542cba;
}

#easy-menu > ul > li:hover > a {
  color: #542cba;
}

.dropdown-mega-menu li a:hover {
  color: #542cba;
}

.preloader {
  background: #542cba;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="time"]:focus,
input[type="text"]:focus,
.form-control:focus,
textarea:focus,
textarea.form-control:focus {
  border-color: #542cba;
}
