.btn {
  transition: .3s;
}

.btn:after {
  background: #d61016;
}

.btn:hover {
  border-color: #d61016;
}

.zeus .tp-tab-title {
  font-weight: 400;
  font-size: 22px;
}

.zeus .tp-tab:nth-child(2).selected {
  padding-top: 8px;
}

.zeus .tp-tab.selected .tp-tab-title {
  font-weight: 700;
}
