.base-color {
  color: #4fbf60;
}

.base-bg {
  background: #4fbf60;
}

a:hover {
  color: #4fbf60;
}

.red-color {
  color: #d61016;
}

.discount-percent--electronics {
  background: #4fbf60;
}

.discount-percent--electronics span:before {
  border-left: 9px solid #4fbf60;
}

.blog-post__title {
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.btn::before {
  background: #76b949;
}

.btn:hover:after {
  opacity: 0;
}

.xara-footer--2 .footer-widget ul > li > a:hover {
  color: #4fbf60;
}

#easy-menu > ul > li:hover > a {
  color: #4fbf60;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="search"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="time"]:focus,
.form-control:focus, textarea:focus, textarea.form-control:focus {
  border-color: #4fbf60;
}

.base-gradient-color {
  color: #4fbf60;
  background: transparent;
  -webkit-text-fill-color: #040404;
}

.preloader {
  background: #4fbf60;
}
