@import "../base/variables.scss";
.base-color{
    color: $base-elec;
}
.base-bg{
    background: $base-elec;
}
a{
    &:hover{
        color: $base-elec;
    }
}
.red-color{
    color: #d61016;
}
.discount-percent--electronics{
    background: $base-elec;
    span{
        &:before{
            border-left: 9px solid $base-elec;
        }
    }
}
#easy-menu > ul > li > a:hover{
    color:  $base-elec;
}
#easy-menu > ul > li:hover > a{
    color:  $base-elec;
}
.dropdown-mega-menu li a:hover{
    color:  $base-elec;
}
.preloader {
    background: $base-elec;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="time"]:focus,
input[type="text"]:focus,
.form-control:focus,
textarea:focus,
textarea.form-control:focus{
    border-color:$base-elec;
}
