@import "../base/variables.scss";
$base:#4fbf60;
.base-color{
    color: $base;
}
.base-bg{
    background: $base;
}
a{
    &:hover{
        color: $base;
    }
}
.red-color{
    color: #d61016;
}
.discount-percent--electronics{
    background: $base;
    span{
        &:before{
            border-left: 9px solid $base;
        }
    }
}
.blog-post{
    &__title{
        font-weight: 400;
        font-family: $play;
    }
}
.btn::before{
    background: #76b949;
}
.btn:hover:after{
    opacity: 0;
}
.xara-footer--2 .footer-widget ul > li > a{
    &:hover{
        color: $base;
    }
}
#easy-menu > ul > li:hover > a{
    color: $base;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="search"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="time"]:focus,
.form-control:focus, textarea:focus, textarea.form-control:focus{
    border-color: $base;
}
.base-gradient-color{
    color: $base;
    background: transparent;
    -webkit-text-fill-color:#040404;
}
.preloader {
    background: $base;
}








//
