/* -----------------------------------
** Start Padding Space
-------------------------------------*/
.pdt5{
    padding-top: 5px;
}
.pdt10{
    padding-top: 10px;
}
.pdt15{
    padding-top: 15px;
}
.pdt20{
    padding-top: 20px;
}
.pdt25{
    padding-top: 25px;
}
.pdt30{
    padding-top: 30px;
}
.pdt35{
    padding-top: 35px;
}
.pdt40{
    padding-top: 40px;
}
.pdt45{
    padding-top: 45px;
}
.pdt50{
    padding-top: 50px;
}

.pdb5{
    padding-bottom: 5px;
}
.pdb10{
    padding-bottom: 10px;
}
.pdb15{
    padding-bottom: 15px;
}
.pdb20{
    padding-bottom: 20px;
}
.pdb25{
    padding-bottom: 25px;
}
.pdb30{
    padding-bottom: 30px;
}
.pdb35{
    padding-bottom: 35px;
}
.pdb40{
    padding-bottom: 40px;
}
.pdb45{
    padding-bottom: 45px;
}
.pdb50{
    padding-bottom: 50px;
}
.pdr0{
    padding-right: 0;
}
.pdl0{
    padding-left: 0;
}

.pdl5{
    padding-left: 5px;
}
.pdl10{
    padding-left: 10px;
}
.pdl15{
    padding-left: 15px;
}
.pdl20{
    padding-left: 20px;
}
.pdl25{
    padding-left: 25px;
}
.pdl30{
    padding-left: 30px;
}
.pdr60{
    padding-right:60px;
}
.pdl60{
    padding-left: 60px;
}


.pdr5{
    padding-right: 5px;
}
.pdr10{
    padding-right: 10px;
}
.pdr15{
    padding-right: 15px;
}
.pdr20{
    padding-right: 20px;
}
.pdr25{
    padding-right: 25px;
}
.pdr30{
    padding-right: 30px;
}


.pdt0{
    padding-top: 0 !important;
}

.pdb0{
    padding-bottom: 0 !important;
}






/* -----------------------------------
** End Padding Space
-------------------------------------*/
/* -----------------------------------
** Start Margin Space
-------------------------------------*/
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt35{
    margin-top: 35px;
}
.mt40{
    margin-top: 40px;
}
.mt45{
    margin-top: 45px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.mt80{
    margin-top: 80px;
}


.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb25{
    margin-bottom: 25px;
}
.mb30{
    margin-bottom: 30px;
}
.mb35{
    margin-bottom: 35px;
}
.mb40{
    margin-bottom: 40px;
}
.mb45{
    margin-bottom: 45px;
}
.mb50{
    margin-bottom: 50px;
}
.mt0{
    margin-top: 0 !important;
}
.mb0{
    margin-bottom: 0 !important;
}
.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}

.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.no-margin{
	margin:0 !important;
}
.no-padding{
	padding:0 !important;
}
.no-border{
    border:0 !important;
}
/* -----------------------------------
** End Margin Space
-------------------------------------*/

.max-width-630{
    max-width: 630px;
}
