
$white:#fff;
$full-black:#000000;
$black: #000000;

$base:#d61016;
$border:#e9e9e9;
$bcolor:#999999;
$yellow:#ffde00;
$purple:#d029e9;

$base-elec:#542cba;








$ash:#ebebeb;
$ash-white:#f7f8fa;

$nv:#1e3042;

$green:#43a047;


$red:#D50000;

$pink:#C51162;


$cyan:#0aaac0;


$beg:#a662ae;


$gray:#c3c3c3;

//$red:#ff6d6d;


$orange:#f39a24;
$lime-green:#82c484;


$open:'Poppins', sans-serif;
$rb:'Poppins', sans-serif;
$play:'Playfair Display', serif;




















//
